<h2>Vote confirm</h2>
  <div class="box tabular">

  <% @rqre_questions.each do |q|%>
    <% @rqre_votes.each do |v| %>
        <% if q.id == v.rqre_question_id %>
          <p>question_id <%= q.id %> <%= q.title %> :  <%= v.answer %></p>
        <% end %>
    <% end %>
  <% end %> 
  </div>


  <%= form_with url: vote_freeze_project_rqre_questionnaire_path(@project.id, @rqre_questionnaire.id) do |f| %>
    <%= f.submit l(:label_rqre_vote) %>
  <% end %>
