<script>
  jQuery(document).ready(function() {
    $('input[name="answer"]').change(function() {
      var formData = $(this).parent().serialize(); // get form data

      //merge answer data in check_box_tag
      if ($(this).attr('type') == 'checkbox') {
        var vals = [];
        $(this).parent().children("input:checkbox").each(function(index, elm){
          if (elm.checked == true){
            vals.push(elm.value);
          }
        });

        //console.log(vals);

        formData = formData.substring(0,formData.indexOf("&answer="))
        formData = formData + "&answer=" + vals;
      }

      event.preventDefault(); // cancellation form POST

            $.ajax({
                type : "POST",
                url  : location.href + "/vote",
                data : formData,
                dataType : "text"
            })
    });
  });
</script>

<div class='rqre_questionnarie'>

<h2>Questionnarie Form</h2>



  <div class="box tabular">
    <%= hidden_field_tag('rqre_questionnaires[project_id]', @rqre_questionnaire['project_id']) %>
    <% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
      <%= link_to l(:label_rqre_edit), edit_project_rqre_questionnaire_path(@project, @rqre_questionnaire), :class => 'icon icon-edit' %>  <%= link_to l(:label_rqre_delete), project_rqre_questionnaire_path(@project, @rqre_questionnaire), :method => :delete, data: {confirm: l(:label_rqre_delete_message)},  :class => 'icon icon-delete' %>
    <% end %>
    <p><%= label_tag('rqre_questionnaires[title]', l(:label_rqre_title)) %><%= @rqre_questionnaire['title'] %></p>
    <p><%= label_tag('rqre_questionnaires[note]', l(:label_rqre_note)) %><%= @rqre_questionnaire['note'] %></p>
    <p><%= label_tag('rqre_questionnaires[description]', l(:label_rqre_description)) %><%= @rqre_questionnaire['description'] %></p>
    <p><%= label_tag('rqre_questionnaires[revote]', l(:label_rqre_revote)) %><%= @rqre_questionnaire['revote'] %></p>
    <p><%= label_tag('rqre_questionnaires[end]', l(:label_rqre_end)) %><%= @rqre_questionnaire['end'].to_date %></p>
  </div>


  

    <% @rqre_questions.each do |q| %>
      <% vote = 0 %>
      <% @rqre_votes.each do |v| %><% vote = v[1] if v[0] == q.id %><% end %>
      
      <div class="box tabular">
      <%= form_with url: vote_project_rqre_questionnaire_path(@project.id, @rqre_questionnaire.id), local: false do |f| %>
        
        <%= hidden_field_tag(:rqre_questionnaire_id, @rqre_questionnaire.id) %>
        <%= hidden_field_tag(:rqre_question_id, q.id) %>
        <%= q.title %>
        <% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
          <%= link_to l(:label_rqre_edit), rqre_question_path(q), :class => 'icon icon-edit' %>  <%= link_to l(:label_rqre_delete), rqre_question_path(q), :method => :delete, data: {confirm: l(:label_rqre_delete_message)},  :class => 'icon icon-delete' %>
        <% end %>
        <br>

        <% if q.dtype == "10" %>
          <%= radio_button_tag('answer', "null", false) %>null 　 
          <% for i in 1..10 do %>
            <% if i == vote.to_i %><%= radio_button_tag('answer', i, true) %><%= i %> 　 
            <% else %><%= radio_button_tag('answer', i, false) %><%= i %> 　 
            <% end %>
          <% end %>
        <% elsif q.dtype == "text" %>
          <% vote = "" if vote == 0 %>
          <%= text_field_tag 'answer', vote, :size => 200, :maxlength => 400 %>
        <% elsif q.dtype == "select" %>
          <% option = q.option%>
          <%= radio_button_tag('answer', "null", false) %>null<br>
          <% q.option.each_line do |line| %>
            <% array = line.split(":",2) %>
            <% i = array[0].to_i %>
            <% if array[0].to_i == vote.to_i %><%= radio_button_tag('answer', i, true) %><%= array[1].strip() %><br>
            <% else %><%= radio_button_tag('answer', i, false) %><%= array[1].strip() %><br>
            <% end %>
          <% end %>
        <% elsif q.dtype == "checkbox" %>
          <%= hidden_field_tag(:answer, 0) %>
          <% if vote == 0 or vote.nil? %>
            <% vote_arry = [] %>
          <% else %>
            <% if vote.include?(",") %>
              <% vote_arry = vote.split(",") %>
            <% else %>
              <% vote_arry = vote %>
            <% end %>
          <% end %>
          <% option = q.option%>
          <% q.option.each_line do |line| %>
            <% array = line.split(":",2) %>
            <% i = array[0].to_i %>
            <% if vote_arry.include?(array[0]) %><%= check_box_tag('answer', i, true) %><%= array[1].strip() %><br>
            <% else %><%= check_box_tag('answer', i, false) %><%= array[1].strip() %><br>
            <% end %>
          <% end %>
        <% elsif %>
          error
        <% end %>
      <% end %>       
      </div>
    <% end %>

  <% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
    <%= link_to l(:label_rqre_edit), new_project_rqre_questionnaire_rqre_question_path(@project, @rqre_questionnaire), :class => 'icon icon-add' %> add
    <br>
  <% end %>
  
  <%= link_to l(:label_rqre_vote), confirm_project_rqre_questionnaire_path(@project.id, @rqre_questionnaire.id) %>
  
</div>
