<% content_for :header_tags do %>
  <%= stylesheet_link_tag "rqre_questionnaire.css", plugin: "redmine_questionnaire_plugin" %>
  <%= javascript_include_tag "rqre_questionnaire.js", plugin: "redmine_questionnaire_plugin" %>
<% end %>

<div class='rqre'>

<h2>Questionnarie Form</h2>
  <%= text_field_tag 'autofocus' %>

  <div class="box rqre abstract">
    <div class="wrapper">
      <div class="right">
        <% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
        <%= link_to l(:label_rqre_edit), edit_project_rqre_questionnaire_path(@project, @rqre_questionnaire), :class => 'icon icon-edit' %>  <%= link_to l(:label_rqre_delete), project_rqre_questionnaire_path(@project, @rqre_questionnaire), :method => :delete, data: {confirm: l(:label_rqre_delete_message)},  :class => 'icon icon-delete' %>
        <% end %>
      </div>
      <h2><u><%= @rqre_questionnaire['title'] %></u></h2>
    </div>

    <div class="wrapper">
      <div class="right">
        <p><%= label_tag('rqre_questionnaires[revote]', l(:label_rqre_revote)) %><%= @rqre_questionnaire['revote'] %></p>
        <p><%= label_tag('rqre_questionnaires[end]', l(:label_rqre_end)) %><%= @rqre_questionnaire['end'].to_date %></p>
      </div>
      
      <div class="wiki"><%= textilizable @rqre_questionnaire['description'] %></div>
    </div>

    <div class="wrapper">
      <%= hidden_field_tag('rqre_questionnaires[project_id]', @rqre_questionnaire['project_id']) %>
    </div>
  </div>

    <% @rqre_questions.each do |q| %>
      <% vote = 0 %>
      <% @rqre_votes.each do |v| %><% vote = v[1] if v[0] == q.id %><% end %>

        <% if q.dtype == "separator" %>
          <hr>
        <% end %>

      <div class="box rqre question">
      <%= form_with url: vote_project_rqre_questionnaire_path(@project.id, @rqre_questionnaire.id), local: false do |f| %>
        <%= hidden_field_tag(:rqre_questionnaire_id, @rqre_questionnaire.id) %>
        <%= hidden_field_tag(:rqre_question_id, q.id) %>
        <div class="right">
          <% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
          <%= link_to l(:label_rqre_edit), rqre_question_path(q), :class => 'icon icon-edit' %>  <%= link_to l(:label_rqre_delete), rqre_question_path(q), :method => :delete, data: {confirm: l(:label_rqre_delete_message)},  :class => 'icon icon-delete' %>
          <% end %>
        </div>
        <h2><%= q.title %></h2>
        
        <div class="wiki"><%= textilizable q.content %></div>

        <div class="qform">
        <% if q.dtype == "10" %>
          <%= radio_button_tag('answer', "null", false) %>null 　 
          <% for i in 1..10 do %>
            <% if i == vote.to_i %><%= radio_button_tag('answer', i, true) %><%= i %> 　 
            <% else %><%= radio_button_tag('answer', i, false) %><%= i %> 　 
            <% end %>
          <% end %>
        <% elsif q.dtype == "5" %>
          <%= radio_button_tag('answer', "null", false) %>null 　
          <% for i in 1..5 do %>
            <% if i == vote.to_i %><%= radio_button_tag('answer', i, true) %><%= i %> 　
            <% else %><%= radio_button_tag('answer', i, false) %><%= i %> 　
            <% end %>
          <% end %>
        <% elsif q.dtype == "text" %>
          <% vote = "" if vote == 0 %>
          <%= text_field_tag 'answer', vote, :size => 120, :maxlength => 400 %>
        <% elsif q.dtype == "select" %>
          <% option = q.option%>
          <%= radio_button_tag('answer', "null", false) %>null<br>
          <% q.option.each_line do |line| %>
            <% array = line.split(":",2) %>
            <% i = array[0].to_i %>
            <% if array[0].to_i == vote.to_i %><%= radio_button_tag('answer', i, true) %><%= array[1].strip() %><br>
            <% else %><%= radio_button_tag('answer', i, false) %><%= array[1].strip() %><br>
            <% end %>
          <% end %>
        <% elsif q.dtype == "checkbox" %>
          <%= hidden_field_tag(:answer, 0) %>
          <% if vote == 0 or vote.nil? %>
            <% vote_arry = [] %>
          <% else %>
            <% if vote.include?(",") %>
              <% vote_arry = vote.split(",") %>
            <% else %>
              <% vote_arry = vote %>
            <% end %>
          <% end %>
          <% option = q.option%>
          <% q.option.each_line do |line| %>
            <% array = line.split(":",2) %>
            <% i = array[0].to_i %>
            <% if vote_arry.include?(array[0]) %><%= check_box_tag('answer', i, true) %><%= array[1].strip() %><br>
            <% else %><%= check_box_tag('answer', i, false) %><%= array[1].strip() %><br>
            <% end %>
          <% end %>
        <% elsif q.dtype == "separator" %>
        
        <% elsif %>
          error
        <% end %>
        </div>
      <% end %>
      </div>
    <% end %>

  <div class="wrapper">
    <div class="right">
      <% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
      <%= link_to l(:label_rqre_edit), new_project_rqre_questionnaire_rqre_question_path(@project, @rqre_questionnaire), :class => 'icon icon-add' %> add
      <% end %>
    </div>

    <%= link_to l(:label_rqre_vote), confirm_project_rqre_questionnaire_path(@project.id, @rqre_questionnaire.id), id: "rqre_confirm" %>
  </div>



</div>

<!-- confirm modal -->
<div class="rqre_saveModal">
	<div class="formLayout">
    <div id="rqre_saveModal_ajax">
    loading...
    </div>
    <br>
    <%= form_with url: vote_freeze_project_rqre_questionnaire_path(@project.id, @rqre_questionnaire.id) do |f| %>
      <%= f.submit l(:label_rqre_vote) %>
    <% end %>
  </div>
</div>