<div class='rqre_questionnarie'>

<h2>Questionnarie Form</h2>
<% if User.current.allowed_to?(:rqre_questionnaires_edit, @project) %>
  <%= link_to l(:label_rqre_edit), edit_project_rqre_questionnaire_path(@project, @rqre_questionnaire), :class => 'icon icon-edit' %>
<% end %>


  <div class="box tabular">
    <%= hidden_field_tag('rqre_questionnaires[project_id]', @rqre_questionnaire['project_id']) %>
    <p><%= label_tag('rqre_questionnaires[title]', l(:label_rqre_title)) %><%= @rqre_questionnaire['title'] %></p>
    <p><%= label_tag('rqre_questionnaires[note]', l(:label_rqre_note)) %><%= @rqre_questionnaire['note'] %></p>
    <p><%= label_tag('rqre_questionnaires[description]', l(:label_rqre_description)) %><%= @rqre_questionnaire['description'] %></p>
    <p><%= label_tag('rqre_questionnaires[revote]', l(:label_rqre_revote)) %><%= @rqre_questionnaire['revote'] %></p>
    <p><%= label_tag('rqre_questionnaires[end]', l(:label_rqre_end)) %><%= @rqre_questionnaire['end'].to_date %></p>
  </div>

  <%= form_for @rqre_questionnaire, url: url_for(action: :vote) do |f| %>
    <%= hidden_field_tag('project_id', @rqre_questionnaire['project_id']) %>
    <% @rqre_questionnaire.rqre_questions.sort_by{|q| q.title}.each do |q| %>
      <%= f.fields_for q do |f| %>
        <div class="box tabular">
        <%= q.title %><br>
        <%= radio_button_tag('rqre_question' + q.id.to_s, "null") %>null 
        <% for i in 1..10 do %><%= radio_button_tag('rqre_question' + q.id.to_s, i) %><%= i %> <% end %>
        </div>
      <% end %>
    <% end %>
    <%= f.submit %>
  <% end %>

</div>
